*{ padding: 0;
    margin: 0;
}


body{
    background: url('images/Fondo.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30%;
    
}

#minombre{
 font-size: 80px;   
}

h1{ 
    width: 100%;
    text-align: center;
    color: aliceblue;
}

nav ul { 
    display: flex;
    flex-direction: row;
    height: 100%; 
}
nav ul li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    border-left: 2px solid black;
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
}

a:hover {
    color:darkturquoise;
}

a{
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

main{ 
    
    width: 60%;
    height:  100%;
    display: flex;
    justify-content: center;
    margin: auto;

}
    

nav{
    margin-top: 3%;
    background: rgba(0,0,0,0.5);
    height: 50px;
}

div {

  
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 100%;
    height:  50%;
}


footer {
    display: flex;
    flex-direction: column;
    margin: 3%;
    
}


.total {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; 
    width: 100%;
    flex-direction: row;
}

.total h1{
    width:100%;
}
.web {
    display: flex;
    flex-direction: row;
    width: 30%;    
}

#insta {
    height: 50px;
    weight: 50px;
    
}

#twitter {
    height: 50px;
    weight: 50px;
}

#google {
    height: 50px;
    weight: 50px;
}

.redes{
   
    width: 50px;
    height: 50px;
}
.redes1{
    margin-left: 37%;
    margin-right: 2%;
}

.redes3{
    margin-right: 40%;
    margin-left: 1%;
}

a {
    width: 50px;
    height: 50px;
}

.info {
    display: flex; 
    justify-content:center;
    flex-direction: column;
    width: 30%;
    color: white;
    height: 60px;   
}

.all{
    display: flex;
    flex-direction: row;
}

.demo {
    width: 100%;
    margin-top: 5%;
}
.video {
    width: 100%;
    margin-left: 3%;
}